html, body {
  padding: 0;
  margin: 0;
  line-height: 0;
  background: #060606;
  color: #eeeeee;
}

body::before, #content::before {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  background: #111111;
}

#content::after {
  display:block;
  position:absolute;
  content: '';
  background-color: #161616;
  width: 100vw;
  height: 100vw;
  transform: translate(0, 90%) rotate(45deg);
  left: 0;
  bottom: 0;
}

#canvas {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#canvas > canvas {
  z-index: 1;
  position: relative;
  transition: opacity 600ms;
  opacity: 0;
}

#ophira-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 50%;
  transition: opacity 600ms;
  opacity: 1;
}

.loaded #ophira-logo {
  opacity: 0;
}

.loaded #canvas > canvas {
  opacity: 1;
}

#content {
  position: relative;
  box-sizing: border-box;
  line-height: 1.5;
  min-height: 100vh;
  padding: 60px;
  font-size: 28px;
  overflow: hidden;
}

#canvas {
  max-width: 800px;
  margin: 0 auto;
}

#content-text {
  position: relative;
  z-index: 1;
}

#social {
  position: relative;
  z-index: 1;
  display: flex;
  margin-top: 40px;
}

.social-link {
  display: block;
  text-decoration: none;
  outline: none;
  width: 40px;
  margin-right: 20px;
}

#social svg {
  fill: #eeeeee;
}

.content {
  margin: 0 auto;
  max-width: 680px;
}