html, body {
  padding: 0;
  margin: 0;
  line-height: 0;
  background: black;
  color: white;
}

#canvas {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#canvas > canvas {
  z-index: 1;
  position: relative;
  opacity: 0;
  transition: opacity 600ms;
}

.loaded #canvas > canvas {
  opacity: 1;
}

#ophira-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 50%;
}

#content {
  box-sizing: border-box;
  line-height: 1.5;
  min-height: 100vh;
  padding: 60px;
  font-size: 28px;
}

#canvas, #content {
  max-width: 800px;
  margin: 0 auto;
}